@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla One&display=swap");
* {
  font-family: "Fjalla one";
}

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: 0.2fr 4fr;
  grid-template-columns: 1fr;
  grid-template-areas: "nav-columns" "main-columns";
}

.grid-container nav {
  grid-area: nav-columns;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  grid-template-areas: "logo-column space button-column";
  background-color: #fef9ef;
  height: 200px;
}

.grid-container nav .logo {
  grid-area: logo-column;
  max-height: 100px;
  padding: 30px;
}

.grid-container nav .nav-buttons-wrapper {
  grid-area: button-column;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: "left right";
}

.grid-container nav .nav-buttons-wrapper .nav-button {
  color: white;
  place-self: center;
  background-color: transparent;
  border: none;
  font-family: "Pacifico", cursive;
  color: black;
  font-size: 30px;
}

.grid-container nav a:link {
  color: black;
  text-decoration: none;
}

.grid-container nav a {
  place-self: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.grid-container nav a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.grid-container nav a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.grid-container main {
  grid-area: main-columns;
  background-color: #254441;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 4fr;
  grid-template-areas: "image-column image-column image-column" "left middle right";
}

.grid-container main .event-image {
  grid-area: image-column;
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid-container main .event-image #event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 0;
}

.grid-container main .event-short-info {
  font-size: 20px;
  text-align: center;
  grid-area: middle;
  display: flex;
  justify-content: safe center;
  align-items: flex-start;
  margin-top: -20px;
}

.grid-container main .event-short-info .event-short-info-span {
  padding: 10px;
  border: black 1px solid;
  width: 400px;
  background-color: #ffcb77;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.grid-container main .event-short-info span {
  margin: 20px;
}

.grid-container main .event-short-info #book-here-button {
  font-size: 20px;
  margin-left: 5px;
  padding: 10px;
  background-color: #17c3b2;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  width: 125px;
}

.grid-container main .event-short-info #book-here-button:hover {
  background-color: #fe6d73;
}

.grid-container main .event-short-info #book-here-button:hover span {
  display: none;
}

.grid-container main .event-short-info #book-here-button:hover:before {
  content: "Sold out!";
}

.grid-container main .message-us {
  grid-area: left;
  display: inline-table;
  align-self: center;
  margin-left: 20px;
}

.grid-container main .message-us #print-message {
  height: 250px;
  width: 300px;
  border: 1px black solid;
  background-color: #fef9ef;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  padding: 10px;
}

.grid-container main .message-us p {
  margin: 10px;
}

.grid-container main .message-us #message-input {
  text-align: center;
  width: 210px;
  height: 25px;
  background-color: #fef9ef;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.grid-container main .message-us #submit-message {
  height: 30px;
  width: 72px;
  background-color: #fef9ef;
  border: 2px solid #0e0d0d;
  box-shadow: 2px 2px black;
  margin: 0px 0px 10px 10px;
}

.grid-container main .about-event {
  overflow-y: scroll;
  grid-area: middle;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 50px 0px 30px 0px;
  width: 480px;
  height: 480px;
  color: #fef9ef;
}
