@mixin index {

    $background-color: #254441;
    $box-width: 100%;
    $box-height: 100%;
    $img-height: 480px;
    $img-width: 480px;
    $event-column-row-gap: 70px;
    $img-border: 10px solid #FFCB77;
    $nav-button-color: black;
    $nav-button-fontsize: 30px;
}